{% extends 'base.html.twig' %}
{% block body %}
<div class="container text-center">
    <div class="row">
        {% for product in productList %}
            <div class="col-md-4 mb-2">
                <div class="card" style="width: 100%;">
                    <img src="https://images.pexels.com/photos/164637/pexels-photo-164637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Descrizione: {{ product.description }}</li>
                        <li class="list-group-item">Prezzo: {{ product.price }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path('products', {'id':product.id})}}" class="card-link">Aggiungi</a>
                    </div>
                </div>
            </div>
            {# {{ dump(product)}}<br> #}
        {% endfor %}
    </div>
</div>
{% endblock %}